.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn {
  color: #ee5902;
  background-color: rgba(236, 200, 200, 0.1);
  border: 3px solid #463737;
}

.js-more-btn {
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
