/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

@import './utils/variables';
@import './utils/mixins';
@import './utils/visually-hidden';
@import './base/base';
@import './base/container';
@import './base/layout';
@import './base/components';
